.DS_Store
node_modules
.turbo
.pnpm-store
dist
build
.env
.env.*
!.env.example
.payload
coverage
.astro
.next
*.log
apps/web/dist
apps/web/.astro
apps/cms/.next
apps/cms/node_modules
apps/web/node_modules
infra/data
